<table>
  <tr>
      <td>
          <div>
            <app-esri-map 
            [gisLayer]="gisLayer" 
            [pipeLayer]="pipeLayer" 
            [extentArray]="extentArray" 
            [spatialReference]="spatialReference"
            [center]="mapCenter" 
            [basemap]="basemapType" 
            [zoom]="mapZoomLevel" 
            (mapLoaded)="mapLoadedEvent($event)"
            (queryPipesResponse)="queryPipesResponse($event)">
            </app-esri-map>
          </div>
        </td>
    <td style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
      <p>click anywhere on the map to query a random pipe (Query Task)
        <br>or<br>
        click on the outage icon to get description (Identify Task)
        <br>
        <br>
        API Reference : <a target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/index.html">https://developers.arcgis.com/javascript/latest/api-reference/index.html</a>
        <br>
        Loader : <a target="_blank" href="https://github.com/Esri/esri-loader">https://github.com/Esri/esri-loader</a>
        <br>
        CSS : <a target="_blank" href="https://js.arcgis.com/4.9/esri/css/main.css">https://js.arcgis.com/4.9/esri/css/main.css</a>
        <br>
       Angular CLI Sample : <a target="_blank" href="https://github.com/Esri/angular-cli-esri-map">https://github.com/Esri/angular-cli-esri-map</a>
     </p>
    </td>

  </tr>
</table>