<table style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
  <tr>
    <td>
      <div>
        1. click on the map to query a random pipe (Query Task)
        <app-esri-map [pipeLayer]="pipeLayer" [extentArray]="extentArray" [spatialReference]="spatialReference"
          [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel" (mapLoaded)="mapLoadedEvent($event)"
          (queryPipesResponse)="queryPipesResponse($event)">
        </app-esri-map>
      </div>
    </td>
    <td>
      <div>
        2. click on the outage icon to get description (Identify Task)
        <app-esri-map [gisLayer]="gisLayer" [extentArray]="extentArray" [spatialReference]="spatialReference" [center]="mapCenter"
          [basemap]="basemapType" [zoom]="mapZoomLevel" (mapLoaded)="mapLoadedEvent($event)" (queryPipesResponse)="queryPipesResponse($event)">
        </app-esri-map>
      </div>
    </td>
  <tr>
    <td><span (click)="viewDetails = !viewDetails">click here to <span *ngIf="!viewDetails">show</span> <span *ngIf="viewDetails">hide</span>
        details</span></td>
  </tr>
  <tr>
    <td>
      <p *ngIf="viewDetails">
        API Reference : <a target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/index.html">click
          here</a>
        <br>
        Loader : <a target="_blank" href="https://github.com/Esri/esri-loader">click here</a>
        <br>
        CSS : <a target="_blank" href="https://js.arcgis.com/4.9/esri/css/main.css">click here</a>
        <br>
        Angular CLI Sample : <a target="_blank" href="https://github.com/Esri/angular-cli-esri-map">click here</a>
        <br>
        sample-esri-map source code : <a target="_blank" href="https://github.com/sarathRainybits/sample-esri-map">click
          here</a>
      </p>
    </td>

  </tr>
</table>